@media screen and (max-width: 900px) {
  p.phone_about {
    max-width: 350px !important;
    padding-left: 1rem !important;
    padding-right: 10px;
  }
  div.phone_about {
    padding-top: 4rem !important;
  }
  .Welcome-box {
    padding-top: 3rem !important;
  }
}
